<?xml version="1.0"?>
<config>
	<modules>
		<Apptha_Qrcode>
			<version>0.1.1</version>
		</Apptha_Qrcode>
	</modules>
	<frontend>
		<routers>
			<qrcode>
				<use>standard</use>
				<args>
					<module>Apptha_Qrcode</module>
					<frontName>qrcode</frontName>
				</args>
			</qrcode>
		</routers>
		<layout>
			<updates>
				<qrcode>
					<file>qrcode.xml</file>
				</qrcode>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<qrcode>
				<use>admin</use>
				<args>
					<module>Apptha_Qrcode</module>
					<frontName>qrcode</frontName>
				</args>
			</qrcode>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<qrcode module="qrcode">
				<title>QR Code</title>
				<sort_order>71</sort_order>
				<children>
					<items module="qrcode">
						<title>Manage QR Codes</title>
						<sort_order>1</sort_order>
						<action>qrcode/adminhtml_qrcode</action>
					</items>
				</children>
			</qrcode>
		</menu>
			<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Qrcode>
							<title>Qrcode Module</title>
							<sort_order>10</sort_order>
						</Apptha_Qrcode>
					</children>
					<children>
						<Apptha_Qrcode>
							<title>Qrcode Print</title>
							<sort_order>10</sort_order>
						</Apptha_Qrcode>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<qrcode>
					<file>qrcode.xml</file>
				</qrcode>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<qrcode>
				<class>Apptha_Qrcode_Model</class>
				<resourceModel>qrcode_mysql4</resourceModel>
			</qrcode>
			<qrcode_mysql4>
				<class>Apptha_Qrcode_Model_Mysql4</class>
				<entities>
					<qrcode>
						<table>qrcode</table>
					</qrcode>
					<print>
						<table>print</table>
					</print>
				</entities>
			</qrcode_mysql4>
		</models>
		<resources>
			<qrcode_setup>
				<setup>
					<module>Apptha_Qrcode</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</qrcode_setup>
			<qrcode_write>
				<connection>
					<use>core_write</use>
				</connection>
			</qrcode_write>
			<qrcode_read>
				<connection>
					<use>core_read</use>
				</connection>
			</qrcode_read>
		</resources>
		<blocks>
			<qrcode>
				<class>Apptha_Qrcode_Block</class>
			</qrcode>
			<rewrite>
				<catalog_product_view>Apptha_Qrcode_Model_QrcodeFrontend
				</catalog_product_view>
			</rewrite>
		</blocks>
		<helpers>
			<qrcode>
				<class>Apptha_Qrcode_Helper</class>
			</qrcode>
			<print>
				<class>Apptha_Qrcode_Helper</class>
			</print>
		</helpers>
		<template>
			<email>
				<qrcode_email_email_template translate="label"
					module="qrcode">
					<label>Qrcode Share Template</label>
					<file>qrcode_mail.html</file>
					<type>html</type>
				</qrcode_email_email_template>
			</email>
		</template>
	</global>
</config>